#questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

#submit {
  display: none;
}

.question {
  margin: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #272553;
  padding: 20px;
  border-radius: 10px;
}

.question input {
  width: 100%;
  height: 100%;
  overflow: visible;
  max-height: 200px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.single-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.answer {
  display: block;
}