#login-form, #register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

#login-form label, #register-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

#login-form input, #register-form input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#login-form button, #register-form button {
    width: 100%;
}