body {
    margin: 0px;
    color: white;
    background-color: #100e14;
    font-family: sans-serif;
}

hr {
    color: white;
}

#title-section {
    background-color: #522e92;
    font-size: xx-large;
    font-weight: 500;
}

.content {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h3 {
    font-size: large;
    font-weight: 400;
}

.button-container {
    display: grid;
    justify-content: end;
}

a {
    color: white;
    background-color: #522e92;
    text-decoration: none;
    font-size: medium;
    padding: 7px 12px;
    border: 0px;
    border-radius: 10px;
}

a:hover {
    cursor: pointer;
    background-color: #3d226c;
}