#forms-section {
  display: none;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #522e92;
  cursor: pointer;
}

.form:hover {
  transition: 0.5s ease;
  background-color: #3d226c;
}

#user-forms {
  width: 80%
}

.delete-button {
  background-color: red;
}

.delete-button:hover {
  transition: 0.5s ease;
  background-color: rgb(142, 0, 0);
}