#forms-section {
  display: none;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #522e92;
  cursor: pointer;
}

#user-forms {
  width: 80%
}