body {
    margin: 0px;
    color: white;
    background-color: #100e14;
    font-family: sans-serif;
}

hr {
    color: white;
}

#title-section {
    background-color: #522e92;
    font-size: xx-large;
    font-weight: 500;
}

.content {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h3 {
    font-size: large;
    font-weight: 400;
}

p {
    font-size: large;
    font-weight: 400;
    font-style: italic;
}